/*********************************************************************************/
/* 00. MENU MOBILE						                                         */
/*********************************************************************************/
#sidebar { display:none; }

/*********************************************************************************/
/* 1. CABEÇALHO						                                             */
/*********************************************************************************/
#cabecalho {
	width:100%;
	z-index:8000;
	display:block;
	font-size:11px;
	min-height:95px;
	position:relative;
	background:#FFFFFF;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#cabecalho #menu {
	width:100%;
	display:block;
	margin:0 auto;
	max-width:1200px;
	padding:25px 0 0;
}

#cabecalho #menu #logo {
	float:left;
	width:216px;
	height:44px;
	display:block;
	margin:0 50px 0 0;
	background:url(../images/logo_prime_preto.png) no-repeat;
}

#cabecalho #menu ul.menu_superior {
	width:100%;
	display:block;
	text-align:right;
	max-width:1200px;
	padding:15px 0 40px;
}

#cabecalho #menu ul.menu_superior li {
	margin-right:20px;
	display:inline-block;
}

#cabecalho #menu ul.menu_superior li:last-child { margin-right:0; }

#cabecalho #menu ul.menu_superior li a {
	color:#593d3d;
	display:inline-block;
}

#cabecalho #menu ul.menu_superior li.ativo a,
#cabecalho #menu ul.menu_superior li a:hover { color:#f37021; }

#cabecalho #menu li.current-menu-item a { color:#f37021 !important; }

/* SUB-MENU */
#cabecalho #sub-menu {
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
	font-size:20px;
	background:#FFFFFF;
	text-transform:uppercase;
	border-top:solid #f37021 4px;
	transition:all 2s ease;
    -o-transition:all 2s eass;
    -moz-transition:all 2s eass;
	-webkit-transition:all 2s eas;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#cabecalho #sub-menu ul {
	width:auto;
	display:none;
	margin:0 auto;
	max-width:1200px;
	text-align:center;
}

#cabecalho #sub-menu ul li {
	width:195px;
	height:135px;
	text-align:center;
	margin-right:30px;
	display:table-cell;
	vertical-align:middle;
}

#cabecalho #sub-menu ul li:hover {
	background:url(../images/bg_submenu.png) center center no-repeat;
}

#cabecalho #sub-menu ul li:last-child { margin-right:0; }

#cabecalho #sub-menu ul li a {
	color:#593d3d;
	line-height:25px;
}

#cabecalho #sub-menu ul li a:hover { 
	color:#f37021;
}

/* SUB-MENU DESTINOS */
#cabecalho #sub-menu ul#sub-destinos li {
	width:auto;
	padding:0 50px;
}

#cabecalho #sub-menu ul#sub-destinos li:last-child { border:none; }

#cabecalho #sub-menu ul#sub-destinos li .escolha {
	color:#b9a893;
	display:block;
	font-size:14px;
	font-style:italic;
	text-align:center;
	margin-bottom:10px;
	font-family:'PT Serif', serif;
}

#cabecalho #sub-menu ul#sub-destinos li a { font-size:35px; line-height:35px; }


/* EXPECIFICAÇÕES DO CABEÇALHO NA HOME DO SITE */
.home #cabecalho { background:none; position:absolute; top:0; }

.home #cabecalho #menu ul.menu_superior li a { color:#FFFFFF; }

.home #cabecalho #menu ul.menu_superior li.ativo a,
.home #cabecalho #menu ul.menu_superior li a:hover { color:#f37021; }

.home #cabecalho #sub-menu { border:none; }

.home #cabecalho #menu #logo { background:url(../images/logo_prime_branco.png) no-repeat; }

/*********************************************************************************/
/* 2. BARRA LATERAL							                                     */
/*********************************************************************************/
#barra_lateral {
	width:60px;
	height:240px;
	z-index:1000;
	position:fixed;
	top:120px; right:0;
	background:#ed7029;
}

#barra_lateral li {
	z-index:2;
	width:60px;
	height:60px;
	display:block;
	cursor:pointer;
	transition:all 0.5s ease;
    -o-transition:all 0.5s eass;
	background-repeat:no-repeat;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	background-image:url(../images/barra_lateral.png);
}

#barra_lateral li.telefone { background-position:18px 17px; }
#barra_lateral li.email { background-position:18px -42px; }
#barra_lateral li.busca { background-position:18px -102px; }
#barra_lateral li.topo { background-position:18px -165px; }

#barra_lateral li:hover { background-color:#cd5009; }

/* Links da Barra Lateral */
#barra_lateral li a,
#barra_lateral #barra_busca {
	opacity:0;
	z-index:1;
	width:260px;
	height:60px;
	display:none;
	color:#6d4c4c;
	padding:0 20px;
	line-height:60px;
	text-align:center;
	background:#FFFFFF;
	transition:all 1s ease;
    -o-transition:all 1s eass;
    -moz-transition:all 1s eass;
	font-family:'PT Serif', serif;
	-webkit-transition:all 1s eas;
}

#barra_lateral #barra_busca {
	padding-top:10px;
}

#barra_lateral li:hover a,
#barra_lateral li:hover #barra_busca { display:block; opacity:1; margin-left:-260px;}

#barra_lateral li a:hover { color:#000000; }

#barra_lateral #barra_busca #campo_busca {
	width:200px;
	height:40px;
	display:block;
	margin:0 auto;
	color:#6C6C6C;
	padding:0 10px;
	font-size:14px;
	border:solid #CCCCCC 1px;
	font-family:'PT Serif', serif;
}

/*********************************************************************************/
/* 3. HOME - BANNERS						                                     */
/*********************************************************************************/
#banner_home { 
	width:100%;
	position:relative;
	margin-bottom:165px;
}

#banner_home .item { 
	width:100%; 
	height:auto;
	position:relative; 
}

#banner_home .item .box {
	top:30%;
	z-index:2;
	width:100%;
	height:auto;
	display:block;
	color:#FFFFFF;
	max-height:300px;
	line-height:160px;
	position:absolute;
	text-align:center;
	font-style:normal;
	font-weight:normal;
	text-shadow: 1px 1px 30px #131313;
}

#banner_home .item img {
	width:100%; 
	height:auto;
}

#banner_home .item img.mobile { display:none; }

#banner_home .item .bt_saiba {
	width:170px;
	height:60px;
	display:block;
	color:#FFFFFF;
	font-size:14px;
	line-height:60px;
	margin:10px auto 0;
	text-transform:uppercase;
	border:solid #a19187 2px;
	transition:all 0.5s ease;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#banner_home .item .bt_saiba:hover { background:#a19187; }	

#banner_home .item .titulo { 
	font-size:140px;
	font-family:'Mano_Regular', Verdana, Geneva, sans-serif;
}

#banner_home .item .subtitulo { 
	font-size:36px;
	line-height:normal;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

/* PÁGINAÇÃO DO BANNER */
#banner_home .cycle-pager { 
	width:100%;
	z-index:500;
	bottom:50px;
	overflow:hidden;
	position:absolute;
    text-align:center;
}

#banner_home .cycle-pager span { 
	width:35px;
	height:21px; 
	color:#c2c1c8;
	font-size:80px;
	cursor:pointer;
	line-height:21px;
    font-family:Arial; 
    display:inline-block;
}

#banner_home .cycle-pager span.cycle-pager-active { color: #D69746;}

/*********************************************************************************/
/* 4. HOME - DESTAQUES						                                     */
/*********************************************************************************/
#destaques_home {
	height:auto;
	position:relative;
	margin:50px auto 180px;
	border-bottom:solid #bda676 3px;
}

#destaques_home .box {
	width:25%;
	float:left;
	height:auto;
	display:block;
	overflow:hidden;
	position:relative;
	background-position:center;
	background-repeat:no-repeat;
}

#destaques_home .box img {
	width:100%;
	display:block;
}

#destaques_home .box img.mobile { display:none; }

#destaques_home .box .fade_black {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	position:absolute;
	background:#000000;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
}

#destaques_home .box:hover .fade_black { opacity:0.5; }

#destaques_home .box .caixa_texto {
	width:80%;
	display:block;
	color:#FFFFFF;
	font-size:24px;
	min-height:170px;
	margin-left:-40%;
	position:absolute;
	padding-bottom:3px;
	bottom:20px; left:50%;
	border-bottom:solid #bda676 2px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
	max-width:332px;
}

#destaques_home .box .caixa_texto .texto {
	width:100%;
	height:100%;
	display:block;
	max-width:332px;
	min-height:170px;
	position:relative;
	border:solid #bda676 2px;
	text-transform:uppercase;
}

#destaques_home .box .caixa_texto .texto .titulo {
	padding:10px;
	display:table;
	font-size:14px;
	text-align:center;
	background:#f37021;
	margin:-20px auto 0;
}

#destaques_home .box .caixa_texto .texto p {
	display:block;
	line-height:30px;
	text-align:center;
	font-size:90%;
	padding:50px 20px 20px;
	text-transform:uppercase;
}

/*********************************************************************************/
/* 5. HOME - INSTAGRAM						                                     */
/*********************************************************************************/
#feed_instagram {
	display:block;
	padding:0 20px;
	overflow:hidden;
	max-height:750px;
	max-width:1110px;
	margin:55px auto 190px;
}

/*********************************************************************************/
/* 6. HOME - NESWLETTER							                                 */
/*********************************************************************************/
#box_newsletter {
	width:100%;
	height:auto;
	display:block;
	padding:210px 0 250px;
	background:url(../images/bg_newsletter.png) #f26f20 center no-repeat;
}

#box_newsletter .box_chamada .titulo_chamada { color:#FFFFFF; }
#box_newsletter .box_chamada .sub_chamada { 
	color:#FFFFFF;
	font-size:24px;
	font-style:italic;
	font-family:'PT Serif', serif;
}

/* FORMULÁRIO DE NEWSLETTER */
#box_newsletter .wpcf7-form {
	display:block;
	margin-top:40px;
	text-align:center;
}

#box_newsletter .wpcf7-form .wpcf7-form-control-wrap {
	vertical-align:top;
	display:inline-block;
}

#box_newsletter .wpcf7-form span.wpcf7-not-valid-tip {
	color:#FFFFFF;
	margin-top:10px;
	font-style:italic;
	font-family:'PT Serif', serif;
}

#box_newsletter .wpcf7-form .wpcf7-response-output {
	width:50%;
	border:none;
	padding:20px;
	color:#FFFFFF;
	margin:30px auto 0;
	background:#a0999a;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#box_newsletter .wpcf7-form .campo {
	width:330px;
	height:60px;
	border:none;
	opacity:0.8;
	color:#7f726c;
	padding:0 25px;
	font-size:20px;
	font-style:italic;
	margin-right:10px;
	background:#f6f5f4;
	display:inline-block;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	font-family:'PT Serif', serif;
	-webkit-transition:all 0.5s eas;
}

#box_newsletter .wpcf7-form .campo:hover { opacity:1; }

#box_newsletter .wpcf7-form .enviar {
	width:180px;
	height:60px;
	border:none;
	color:#FFFFFF;
	font-size:14px;
	cursor:pointer;
	vertical-align:top;
	background:#a0999a;
	display:inline-block;
	transition: all 0.5s;
	text-transform:uppercase;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#box_newsletter .wpcf7-form .enviar:hover { background:#5f5c5c; }

/*********************************************************************************/
/* 7. FORMULÁRIOS									                             */
/*********************************************************************************/
.formulario {
	display:block;
	margin:0 auto;
	max-width:570px;
}

.formulario .campo {
	width:100%;
	padding:20px;
	display:block;
	color:#45403f;
	font-size:20px;
	max-height:60px;
	background:#f2f0f0;
	margin-bottom:20px;
	border-radius:10px;
	border:solid #c4c0bf 1px;
	font-family:'PT Serif', serif;
}

.formulario .campo_select {
	width:100%;
	padding:20px;
	display:block;
	color:#45403f;
	font-size:20px;
	max-height:60px;
	background:#f2f0f0;
	margin-bottom:20px;
	border-radius:10px;
	border:solid #c4c0bf 1px;
	font-family:'PT Serif', serif;
}

.formulario .campo_texto {
	width:100%;
	resize:none;
	display:block;
	color:#45403f;
	font-size:20px;
	max-height:340px;
	background:#f2f0f0;
	margin-bottom:20px;
	border-radius:10px;
	padding:20px 20px 280px;
	border:solid #c4c0bf 1px;
	font-family:'PT Serif', serif;
}

.formulario #areadeinteresse { color:#959191; }

.formulario .campo:focus,
.formulario .campo_texto:focus {
	background:#f9fbf9;
	border:solid #71b177 1px;
}

.formulario .enviar {
	width:100%;
	border:none;
	display:block;
	color:#FFFFFF;
	cursor:pointer;
	padding:20px 0;
	font-size:18px;
	margin-top:30px;
	max-height:340px;
	background:#a0999a;
	text-transform:uppercase;
	transition:opacity 0.5s ease-in-out;
    -o-transition:opacity 0.5s ease-in-out;
    -moz-transition:opacity 0.5s ease-in-out;
	-webkit-transition:opacity 0.5s ease-in-out;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.formulario .enviar:hover { background:#71b177; }

/* CHECKBOX DO FORMULÁRIO */
.formulario #check_news { display:none; }

.formulario #info_news {
	color:#897f7f;
	cursor:pointer;
	font-size:16px;
	position:relative;
	padding-left:35px;
	display:inline-block;
	font-family:'PT Serif', serif;
	transition:opacity 0.5s ease-in-out;
	-o-transition:opacity 0.5s ease-in-out;
	-moz-transition:opacity 0.5s ease-in-out;
	-webkit-transition:opacity 0.5s ease-in-out;
}

.formulario #info_news:hover { color:#61caad; }

.formulario #info_news:before {
    content:"";
    width:25px;
    height:25px;
    margin-right:10px;
    position:absolute;
		border-radius:5px;
    bottom:1px; left:0;
    display:inline-block;
		border:solid #c4c0bf 1px;
    background-color:#f2f0f0;
}

.formulario #info_news.ativo:before {
    color:#61caad;
    font-size:25px;
    content:"\2713";
    line-height:25px;
    text-align:center;
}

/* CONFIGURAÇÃO DE CHECKBOXES */
.formulario .wpcf7-checkbox {
	margin: 20px 0;
}

.formulario .wpcf7-checkbox .checkbox-inline {
	color:#897f7f;
	cursor:pointer;
	font-size:16px;
	position:relative;
	padding-left:35px;
	margin-right:10px;
	display:inline-block;
	font-family:'PT Serif', serif;
	transition:opacity 0.5s ease-in-out;
	-o-transition:opacity 0.5s ease-in-out;
	-moz-transition:opacity 0.5s ease-in-out;
	-webkit-transition:opacity 0.5s ease-in-out;
}

.formulario .wpcf7-checkbox .checkbox-inline input {
	opacity: 0;
	width: 100%;
	top: 0;
	left: 0;
	cursor:pointer;
	position: absolute;
	display: block;
	height: 100%;
}

.formulario .wpcf7-checkbox .checkbox-inline::before {
	content:"";
	width:25px;
	height:25px;
	position:absolute;
	border-radius:5px;
	bottom:1px; left:0;
	display:inline-block;
	border:solid #c4c0bf 1px;
	background-color:#f2f0f0;
}

.formulario .wpcf7-checkbox .checkbox-inline.ativo::before {
	color:#61caad;
	font-size:25px;
	content:"\2713";
	line-height:25px;
	text-align:center;
}

/* CALENDÁRIO */
div#ui-datepicker-div {
	min-width: 350px !important;
}

/* INSERIR CURRICULUM */
.formulario .inserir_cv { 
	width:100%;
	padding:20px;
	display:block;
	cursor:pointer;
	max-height:60px;
	line-height:20px;
	position:relative;
	margin-bottom:20px;
	border-radius:10px;
	border:solid #c4c0bf 1px;
	background:url(../images/bg_cv.png) no-repeat center right #f2f0f0;
} 

.formulario .inserir_cv span {
	display:block;
	color:#909090;
	font-size:20px;
	font-family:'PT Serif', serif;
}
 
.formulario .inserir_cv input { 
	z-index:2;
	opacity:0;
	cursor:pointer;
	font-size:100%; 
	position:absolute; 
	right:0; top:0; 
	filter:alpha(opacity=0); 
} 

.formulario .inserir_cv:hover { 
	border:solid #71b177 1px;
	background:url(../images/bg_cv.png) no-repeat center right #f9fbf9;
}

.formulario .inserir_cv:hover span { color:#71b177 }

/* CONTACT FORM 7 */
.formulario span.wpcf7-not-valid-tip {
	font-size:80%;
	display: block;
	color:#f0a055;
	text-align:left;
	margin:-15px 0 10px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.formulario .News {
	display: none;
}

.formulario .wpcf7-form .wpcf7-response-output {
	width:100%;
	border:none;
	color:#FFFFFF;
	font-size:80%;
	text-align:center;
	background:#f0a055;
	margin:-40px auto 0;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

/* CURRICULUM */
.formulario .inserir_cv span.wpcf7-not-valid-tip {
    margin-top: 25px;
    display: block;
}

.formulario #cidade,
.formulario #uf.campo {
    width:100%;
    display:inline-block;
}

.wpcf7-form-control-wrap.Cidade {
    width:80%;
    margin-right:7%;
    vertical-align:top;
    display:inline-block;
}

.wpcf7-form-control-wrap.UF {
	width:13%;
    vertical-align:top;
    display:inline-block;
}

.formulario .UF span.wpcf7-not-valid-tip { display:none; }

/*********************************************************************************/
/* 8. APRESENTAÇÃO DAS CATEGORIAS						                         */
/*********************************************************************************/
#apresentacao_destinos {
	height:auto;
	position:relative;
	margin:50px 0 200px;
}

#apresentacao_destinos .destino_box_gd {
	width:100%;
	height:auto;
	display:block;
	min-height:200px;
	max-height:500px;
	position:relative;
}

#apresentacao_destinos .destino_box_pq {
	float:left;
	width:100%;
	height:auto;
	max-width:390px;
	max-height:290px;
	display:block;
	position:relative;
}

#apresentacao_destinos img {
	width:100%;
	height:auto;
	display:block;
	min-height:200px;
	max-height:500px;
}

#apresentacao_destinos .destino_box_pq img { min-width:280px; }

#apresentacao_destinos .fade_black {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	position:absolute;
	background:#000000;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
}

#apresentacao_destinos a:hover .fade_black { opacity:0.5; }

#apresentacao_destinos .destino_box_pq .borda {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	position:absolute;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
}

#apresentacao_destinos .destino_box_pq:hover .borda { opacity:1; border:solid #e7722c 8px; }

#apresentacao_destinos .legenda {
	width:100%;
	display:block;
	color:#FFFFFF;
	font-size:90%;
	position:absolute;
	text-align:center;
	padding-bottom:3px;
	bottom:25px; left:0;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#apresentacao_destinos .legenda p {
	width:100%;
	padding:20px;
	display:block;
	max-width:620px;
	margin:0 auto 3px;
	border:solid #ab9b88 3px;
	background:url(../images/bg_titulo_tax.png);
}

#apresentacao_destinos .destino_box_pq .legenda p { max-width:300px; padding:5px 20px; }

#apresentacao_destinos .legenda .linha {
	width:30%;
	display:block;
	margin:0 auto;
	border:solid #ab9b88 1px;
}

/*********************************************************************************/
/* 9. BUSCA DOS TERMOS									                         */
/*********************************************************************************/
#refine_busca {
	color:#6d4c4c;
	display:table;
	font-size:24px;
	margin:25px auto;
	padding:15px 30px;
	text-align:center;
	text-transform:uppercase;
	border:solid #b9a893 2px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#box_busca { text-align:center; border-bottom:solid #dcd3c9 3px; }

#box_busca ul li { display:inline-block; margin:0 20px; }

#box_busca ul li:last-child { display:block; }

#box_busca h4 {
	margin:0;
	color:#f0a055;
	text-align:left;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#box_busca select {
	padding:20px 20px 20px 10px;
	color:#6d4c4c;
	font-size:80%;
	cursor:pointer;
	appearance:none;
	text-overflow:"";
	border-radius:5px;
	text-indent:0.01px;
    -o-appearance:none;
    -moz-appearance:none;
	-webkit-appearance:none;
	border:solid #c4c0bf 1px;
	font-family:'PT Serif', serif;
	background:url(../images/seta_drop.png) center right no-repeat #f2f0f0;
}

#box_busca input[type=submit] {
	border:none;
	display:table;
	font-size:80%;
	color:#FFFFFF;
	cursor:pointer;
	padding:10px 20px;
	margin:25px auto 0;
	background:#a0999a;
	transition: all 0.5s;
	text-transform:uppercase;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#box_busca input[type=submit]:hover { background:#f0a055; }

/*********************************************************************************/
/* 10. EXIBIÇÃO DAS BUSCAS														 */
/*********************************************************************************/
#box_resultados {
	display:block;
	margin:50px auto;
	text-align:center;
	padding-bottom:70px;
	border-bottom:solid #ecebeb 3px;
}

#box_resultados .titulo_busca {
	display:block;
	margin:0 auto;
	color:#6d4c4c;
	font-size:30px;
	font-style:italic;
	text-align:center;
	margin-bottom:70px;
	font-family:'PT Serif', serif;
}

#box_resultados .titulo_busca span { color:#f37021; }

/* PÁGINAÇÃO DOS RESULTADOS */
#box_resultados .wp-pagenavi {
	width:100%;
	height:auto;
	display:block;
	font-size:14px;
	max-width:1200px;
	text-align:center;
	margin:0 auto;
}

#box_resultados .wp-pagenavi span,
#box_resultados .wp-pagenavi a {
	width:56px;
	height:56px;
	line-height:46px;
	border-radius:56px;
	display:inline-block;
	transition: all 0.5s;
	text-transform:uppercase;
	border:solid #c4c0bf 2px;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#box_resultados .wp-pagenavi a { color:#c4c0bf; }
#box_resultados .wp-pagenavi a:hover { color:#FFFFFF; background:#f47e37; border:solid #c3652c 2px; }

#box_resultados .wp-pagenavi span.current { background:#c4c0bf; color:#FFFFFF; }

/* EXIBIÇÃO DOS POSTS */
#box_resultados .box_post {
	height:auto;
	height:615px;
	margin:0 10px;
	min-width:260px;
	max-width:370px;
	overflow:hidden;
	position:relative;
	padding-bottom:5px;
	vertical-align:top;
	margin-bottom:50px;
	display:inline-block;
	border-bottom:solid #b9a893 2px;
}

#box_resultados .box_post img {
	width:100%;
	height:auto;
	min-width:260px;
	max-width:370px;
}

#box_resultados .box_post .fade_black {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	max-height:370px;
	position:absolute;
	background:#000000;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
}

#box_resultados .box_post:hover .fade_black { opacity:0.5; }

#box_resultados .box_post .fade_mais {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	max-height:370px;
	position:absolute;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	background:url(../images/bg_mais.png) center center no-repeat;
}

#box_resultados .box_post:hover .fade_mais { opacity:1; }

#box_resultados .box_post .infos {
	width:100%;
	height:235px;
	display:block;
	margin-top:5px;
	padding:20px 0;
	text-align:center;
	background:#f6f6f6;
	font-family:'PT Serif', serif;
}

#box_resultados .box_post .infos .nome_cat {
	display:table;
	color:#f37021;
	font-size:14px;
	margin:0 auto 20px;
	padding-bottom:10px;
	text-transform:uppercase;
	border-bottom:solid #d7cfc4 2px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#box_resultados .box_post .infos .titulo_post {
	display:block;
	color:#6d4c4c;
	font-size:24px;
	padding:0 10px;
	margin-bottom:20px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#box_resultados .box_post .infos .descricao {
	display:block;
	color:#6d4c4c;
	font-size:18px;
	padding:0 20px;
	font-style:italic;
	font-family:'PT Serif', serif;
}

/*********************************************************************************/
/* INFINITE - TEAM																									             */
/*********************************************************************************/
#box_resultados.team .box_post .infos .titulo_post {
	color: #6d4c4c;
	font-size: 20px;
	margin-bottom: 0;
}

#box_resultados.team .box_post .infos .regiao {
	color: #6d4c4c;
	margin-bottom: 0;
}

#box_resultados.team .box_post .infos .especialista {
	max-width: 80%;
	display: block;
	color: #6d4c4c;
	margin: 20px auto 30px;
}

#box_resultados.team .box_post .infos strong {
	font-weight: bold;
}

/*********************************************************************************/
/* INFINITE - TEAM - INTERNA																									   */
/*********************************************************************************/
#conteudo.team .box_texto #box_resumo {
	display: block;
	margin-bottom: 50px;
}

#conteudo.team .box_texto .titulo_sessao {
	color: #f37021;
	display: block;
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 50px;
	font-family: 'Mano_Regular', Verdana, Geneva, sans-serif;
}

#conteudo.team .box_texto #box_resumo #box_imagem {
	float: left;
}

#conteudo.team .box_texto #box_resumo #box_imagem img {
	height: auto;
	max-width: 100%;
}

#conteudo.team .box_texto #box_resumo #resumo {
	float: left;
	color: #785a5a;
	padding-left: 50px;
}

#conteudo.team .box_texto #box_resumo #resumo .nome {
	display: block;
	font-size: 24px;
	text-transform: uppercase;
}

#conteudo.team .box_texto #box_resumo #resumo .regiao {
	display: block;
}

#conteudo.team .box_texto #box_resumo #resumo .especialista {
	display: block;
	margin-top: 20px;
}

#conteudo.team .box_texto #box_resumo #resumo .especialista strong {
	display: block;
	font-weight: bold;
}

#conteudo.team .box_texto #box_resumo #resumo #logo_agencia img {
	max-width: 400px;
	max-height: 200px;
	margin-bottom: 30px;
}

#conteudo.team .box_texto #conteudo {
	display: block;
	margin-bottom: 50px;
}

#conteudo.team .box_texto #bio {
	margin-bottom: 50px;
}

#conteudo.team .box_texto #bio .info {
	display: block;
	margin-bottom: 20px;
}

#conteudo.team .box_texto #bio .info .box {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#conteudo.team .box_texto #bio .info p {
	height: 30px;
	padding-left: 10px;
	vertical-align: top;
	display: inline-block;
}

#conteudo.team .box_texto #bio .info a {
	color:#45403f;
	text-decoration: none;
}

#conteudo.team .box_texto #bio .info a:hover {
	color: #f37021;
}

#conteudo.team .box_texto .box_cta_infinite {
	text-align: center;
}

#conteudo.team .box_texto .box_cta_infinite #bt_contato {
	color: #FFFFFF !important;
	text-transform: uppercase;
	transition: all 0.5s ease;
	font-family: 'Nove_Medium', Verdana, Geneva, sans-serif;
	display: inline-block;
	background: #a0999a;
	padding: 10px 25px;
	margin-bottom: 50px;
}

#conteudo.team .box_texto .box_cta_infinite #bt_contato:hover {
	background: #cd5009;
}


/*********************************************************************************/
/* 11. INTERNA DE DESTINOS e HOTEIS									             */
/*********************************************************************************/
/* SLIDER PRINCIPAL */
#slider_destino img {
	width:100%;
	height:auto;
}

#slider_destino .cycle-pager { 
     width:100%; 
	 z-index:500;
	 bottom:25px;
	 overflow:hidden;
	 text-align:center;
	 position:absolute;
}

#slider_destino .cycle-pager span { 
	color:none;
	width:18px; 
	height:18px;
	margin:0 7px;
	cursor:pointer;
	font-size:50px;
	background:none;
	line-height:19px;
    font-family:arial;
	border-radius:18px;
	text-indent:-9999px;
    display:inline-block;
	transition: all 0.5s;
	border:solid #b3b5c0 2px;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
}

#slider_destino .cycle-pager > * { cursor:pointer;}
#slider_destino .cycle-pager span:hover  { background:#f47e37; border:solid #b15925 2px; }
#slider_destino .cycle-pager span.cycle-pager-active { color:#b3b5c0; background:#b3b5c0; }

/* COLUNA ESQUERDA - INFORMAÇÕES */
#infos_destino {
	float:left;
	width:100%;
	height:auto;
	display:block;
	margin:50px 0;
	max-width:770px;
	text-align:justify;
}

#infos_destino strong { font-weight: bold; }
#infos_destino em { font-style: italic; }
#infos_destino u { text-decoration: underline; }

#infos_destino .titulo_experiencia {
	color:#f37021;
	font-size:24px;
	margin:50px 0 15px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#infos_destino #box_experiencia {
	width:100%;
	padding:40px;
	color:#45403f;
	clear:both;
	background:#f6f6f6;
	border-top:solid #c4c0bf 3px;
}

#infos_destino #box_experiencia p { font-size:18px; line-height:28px; }

#infos_destino .quero_ir {
	display:table;
	color:#FFFFFF;
	font-size:18px;
	margin-top:50px;
	padding:20px 40px;
	text-align:center;
	background:#a0999a;
	transition: all 0.5s;
	text-transform:uppercase;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#infos_destino .quero_ir:hover { background:#f37021; }

#infos_destino #box_especial {
	width:100%;
	display:block;
	margin:50px 0;
}


#infos_destino #box_especial p { margin-bottom:25px; }

#infos_destino #box_especial li {
	width:20%;
	float:left;
	height:24px;
	color:#897f7f;
	display:block;
	font-size:14px;
	text-align:left;
	padding-left:35px;
	line-height:normal;
	margin:0 15px 35px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
	background:url(../images/tags_hotel.png) center left no-repeat;
}

#infos_destino #box_especial li:before { content:""; }


/* PADRÃO SER PRIME É */
#infos_destino ul {
	display:block;
	list-style:none;
	margin-bottom:10px;
}

#infos_destino ul li {
	display:block;
	margin-bottom:10px;
}

#infos_destino ul li:before {
    content:"• ";
    color:#f0a055;
}

/* COLUNA DIREITA - PLUS */
#sidebar_destino {
	width:100%;
	height:auto;
	float:right;
	display:block;
	margin:50px 0;
	max-width:370px;
}

#sidebar_destino .awesome-weather-attribution { display:none; }
#sidebar_destino .awesome-weather-forecast { display:none; }

#sidebar_destino .awesome-weather-wrap { text-shadow:none; font-family:'Nove_Medium', Verdana, Geneva, sans-serif; }

#sidebar_destino .awesome-weather-header { width: 100%; float:left; background:none; font-size:30px; color:#897f7f; text-align:left; line-height:normal;  margin-top:20px; }

#sidebar_destino .awesome-weather-todays-stats { float:left; text-align:left; font-size:12px; }
#sidebar_destino .awesome-weather-current-temp { font-size:82px; text-align:right; position: absolute; bottom: 5px; right: 10px; padding: 0; }
#sidebar_destino .awesome-weather-current-temp sup { vertical-align: top; }

#sidebar_destino #tempo {
	width:100%;
	display:block;
	margin-bottom:50px;
	position: relative;
}

#sidebar_destino #meses {
	width:100%;
	display:block;
	text-align:center;
	margin-bottom:50px;
}

#sidebar_destino #meses #titulo_mes {
	height:43px;
	color:#897f7f;
	display:block;
	font-size:18px;
	line-height:43px;
	padding-left:33px;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
	border-bottom:solid #c4c0bf 3px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
	background:url(../images/calendario.png) center left no-repeat;
}

#sidebar_destino #meses li {
	width:56px;
	height:56px;
	color:#c4c0bf;
	font-size:14px;
	line-height:56px;
	border-radius:56px;
	margin-bottom:10px;
	display:inline-block;
	border:solid #c7c3c2 2px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#sidebar_destino #meses li.ativo { color:#FFFFFF; background:#f0a055; border:solid #f0a055 2px; }

#sidebar_destino #referencias {
	width:100%;
	display:block;
	text-align:center;
	margin-bottom:50px;
}

#sidebar_destino #referencias #titulo {
	height:43px;
	color:#897f7f;
	display:block;
	font-size:18px;
	line-height:43px;
	padding-left:33px;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
	border-bottom:solid #c4c0bf 3px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
	background:url(../images/referencias.png) center left no-repeat;
}

#sidebar_destino #referencias a {
	display:block;
	color:#FFFFFF;
	font-size:15px;
	margin-top:10px;
	padding:10px 40px;
	text-align:center;
	background:#a0999a;
	transition: all 0.5s;
	text-transform:uppercase;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}
#sidebar_destino #referencias a:hover { background:#f37021; }

#sidebar_destino .fale_conosco {
	display:block;
	color:#FFFFFF;
	font-size:18px;
	margin-top:20px;
	padding:20px 40px;
	text-align:center;
	background:#a0999a;
	transition: all 0.5s;
	text-transform:uppercase;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#sidebar_destino .fale_conosco:hover { background:#f37021; }

#sidebar_destino #wpexperts_pdf_generate_file {
	display:block;
	color:#FFFFFF;
	font-size:18px;
	margin-top:20px;
	padding:20px 40px;
	text-align:center;
	background:#a0999a;
	transition: all 0.5s;
	text-transform:uppercase;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#sidebar_destino #wpexperts_pdf_generate_file:hover { background:#f37021; }

#sidebar_destino .fale_conosco.hotel { background:#f0a055; color:#FFFFFF; }
#sidebar_destino .fale_conosco.hotel:hover { background:#f37021; }


#sidebar_destino #mapa_google {
	display:block;
	margin-bottom:50px;
}

#sidebar_destino #mapa_google #titulo_mapa {
	height:43px;
	color:#897f7f;
	display:block;
	font-size:18px;
	line-height:43px;
	padding-left:63px;
	margin-bottom:20px;
	padding-bottom:20px;
	text-transform:uppercase;
	border-bottom:solid #c4c0bf 3px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
	background:url(../images/local_google.png) center left no-repeat;
}

#sidebar_destino #mapa_google #box_infos {
	width:100%;
	padding:20px;
	display:block;
	color:#45403f;
	font-size:16px;
	text-align:center;
	font-family:'PT Serif', serif;
}

#sidebar_destino #mapa_google #box_infos a { display:block; }

#sidebar_destino .opinioes {
	display:block;
	color:#FFFFFF;
	font-size:18px;
	margin-top:20px;
	padding:20px 40px;
	text-align:center;
	background:#a0999a;
	transition: all 0.5s;
	text-transform:uppercase;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#sidebar_destino .opinioes:hover { background:#f37021; }

.titulo_hotel_int {
	width:100%;
	display:block;
	margin:0 auto;
	color:#f37021;
	font-size:36px;
	padding-top:80px;
	text-align:center;
	text-transform:uppercase;
	border-top:solid #ecebeb 3px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

/*********************************************************************************/
/* 12. CELEBRATIONS									                             */
/*********************************************************************************/
#caixa_celebrations { margin-bottom:150px; }

/*********************************************************************************/
/* 13. BLOG											                             */
/*********************************************************************************/
#box_blog #box_resultados .box_post .infos .titulo_post {
	font-size:120%;
	padding:0 10px;
	text-transform:none; 
	font-family:'PT Serif', serif;
}

/*********************************************************************************/
/* 14. INTERNA DOS POSTS DO BLOG											     */
/*********************************************************************************/
#conteudo_blog_interna strong { font-weight: bold; }
#conteudo_blog_interna em { font-style: italic; }
#conteudo_blog_interna u { text-decoration: underline; }


.box_texto .categoria_blog {
	color:#f37021;
	display:table;
	font-size:14px;
	text-align:center;
	line-height:normal;
	margin:0 auto 20px;
	padding-bottom:5px;
	text-transform:uppercase;
	border-bottom:solid #bcad90 3px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.box_texto .titulo_blog {
	width:70%;
	color:#6d4c4c;
	display:block;
	font-size:36px;
	text-align:center;
	line-height:normal;
	margin:0 auto 20px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.data {
	color:#897f7f;
	display:block;
	font-size:20px;
	text-align:center;
	font-style:italic;
	margin-bottom:30px;
	font-family:'PT Serif', serif;
}

.autor_nome {
	color:#6d4c4c;
	display:block;
	font-size:16px;
	line-height:16px;
	text-align:center;
	margin:50px 0 0;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.autor_funcao {
	color:#897f7f;
	display:block;
	font-size:16px;
	text-align:center;
	font-style:italic;
	margin-bottom:30px;
	font-family:'PT Serif', serif;
}

/* COMPARTILHAMENTO DE REDES SOCIAIS */
#share {
	display:block;
	margin:40px auto 100px;
}

#share .titulo {
	color:#897f7f;
	display:block;
	font-size:12px;
	text-align:center;
	margin-bottom:20px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#share ul { display:block; text-align:center; }

#share ul li {
	width:40px;
	height:40px;
	margin:0 7px;
	display:inline-block;
}

#share ul li a {
	width:40px;
	height:40px;
	display:block;
	background-repeat:no-repeat;
	transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
	-webkit-transition:opacity 1s ease-in-out;
	background-image:url(../images/share.png);
}

#share ul li a.facebook { background-position:0 0; }
#share ul li a.twitter  { background-position:-53px 0; }
#share ul li a.google   { background-position:-106px 0; }

#share ul li a.facebook:hover { background-position:0 -40px; }
#share ul li a.twitter:hover  { background-position:-53px -40px; }
#share ul li a.google:hover   { background-position:-106px -40px; }


/* POSTS RELACIONADOS */
#box_relacionados {
	background:#f8f8f8;
	padding:150px 0 80px;
	border-top:solid #b9a893 3px;
}

#box_relacionados .titulo {
	color:#f37021;
	display:block;
	font-size:60px;
	text-align:center;
	margin-bottom:100px;
	font-family:'Mano_Regular', Verdana, Geneva, sans-serif;
}

/*********************************************************************************/
/* 15. DESCUBRA									                                 */
/*********************************************************************************/
.box_descubra .destino_box_pq .selecao {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	z-index:99999;
	cursor:pointer;
	position:absolute;
	text-indent:-99999px;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	background: url(../images/selecao.png) center no-repeat;
}

.box_descubra .destino_box_pq:hover .selecao { opacity:1; }

#apresentacao_destinos.box_descubra #bt_descubra {
	color:#FFFFFF;
	display:table;
	font-size:18px;
	cursor:pointer;
	margin:80px auto;
	padding:10px 20px;
	text-align:center;
	background:#f0a055;
	transition: all 0.5s;
	text-transform:uppercase;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#apresentacao_destinos.box_descubra #bt_descubra:hover { background:#a0999a; }

/* FUNÇÃO DO MENU DESCUBRA */
#apresentacao_destinos.box_descubra .destino_box_pq.selecionado .fade_black { opacity:0.5; }
#apresentacao_destinos.box_descubra .destino_box_pq.selecionado .selecao { opacity:1; }

#resultado_descubra { display:none; }

/*********************************************************************************/
/* 99. RODAPÉ									                                 */
/*********************************************************************************/
#rodape {
	width:100%;
	display:block;
	height:auto;
	background:#897f7f;
}

#rodape #logo_baked {
	width:67px;
	height:14px;
	display:block;
	margin:0 auto;
	padding-bottom:30px;
	background:url(../images/baked.png) no-repeat;
}

/* REDES SOCIAIS */
#rodape #redes_sociais {
	display:block;
	padding:30px 0 0;
	text-align:center;
}

#rodape #redes_sociais li {
	margin:0 5px;
	display:inline-block;
}

#rodape #redes_sociais li a {
	width:41px;
	height:41px;
	opacity:0.5;
	display:block;
	transition:opacity 0.5s ease-in-out;
    -o-transition:opacity 0.5s ease-in-out;
    -moz-transition:opacity 0.5s ease-in-out;
	-webkit-transition:opacity 0.5s ease-in-out;
	background-image:url(../images/redes_sociais_02.png);
}

#rodape #redes_sociais a:hover { opacity:1; }

#rodape #redes_sociais .facebook  { background-position:0 0; }
#rodape #redes_sociais .instagram { background-position:-50px 0; }
#rodape #redes_sociais .linkedin  { background-position:-100px 0; }
#rodape #redes_sociais .youtube  { background-position:-150px 0; }

#rodape #redes_sociais .facebook:hover  { background-position:0 -41px; }
#rodape #redes_sociais .instagram:hover { background-position:-50px -41px; }
#rodape #redes_sociais .linkedin:hover  { background-position:-100px -41px; }
#rodape #redes_sociais .youtube:hover  { background-position:-150px -41px; }

/* SUB-MENU RODAPÉ */
#rodape #menu {
	width:100%;
	display:block;
	margin:0 auto;
	padding-top:25px;
}

#rodape #menu ul {
	width:100%;
	display:block;
	padding:30px 0;
	text-align:center;
	border-top:solid #a39688 2px;
	border-bottom:solid #a39688 2px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#rodape #menu ul li {
	margin-left:10px;
	padding-right:10px;
	display:inline-block;
	border-right:solid #a89f91 2px;
}

#rodape #menu ul li:last-child { border:none; }

#rodape #menu ul li a {
	color:#FFFFFF;
	font-size:14px;
	display:inline-block;
}

#rodape #menu ul li.ativo a,
#rodape #menu ul li a:hover { color:#404040; }

/* LOGO VIRTUOSO & DIREITOS AUTORAIS */
#logo_virtuoso {
	width:183px;
	height:32px;
	display:block;
	margin:25px auto 0;
	background:url(../images/logo_virtuoso.png) no-repeat;
}

.direitos {
	display:block;
	color:#FFFFFF;
	font-size:10px;
	margin:35px 0 0;
	text-align:center;
	padding-bottom:35px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}


/* LIGHTBOX */
#cboxContent { background:none !important; }

#cboxLoadedContent {
	border:5px solid #f0a055 !important;
    background:#FFFFFF;
    border-radius:13px !important;
}

#cboxClose { top:7px !important; right:12px !important; }

#slider_clientes_prime .panel-row-style {
	width:100%;
	height:200px;
	display:block;
	margin:0 auto;
}

#slider_clientes_prime .panel-grid-cell {
	width:auto;
	height:auto;
	display:block;
	float:none !important;
}

/*********************************************************************************/
/* 00. ERRO 404							                                         */
/*********************************************************************************/
#erro_404 {
	width:100%;
	height:100%;
	display:block;
	padding-top:30px;
	background:url(../images/bg_erro.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#erro_404 #logo {
	width:216px;
	height:44px;
	display:block;
	margin:0 auto;
	background:url(../images/logo_prime_branco.png) no-repeat;
}

#erro_404 #conteudo_erro {
	display:block;
	padding:0 20px;
	max-width:1070px;
	text-align:center;
	margin:200px auto 0;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}
	
#erro_404 #conteudo_erro span {
	display:block;
	color:#f37021;
	font-size:38px;
}

#erro_404 #conteudo_erro p {
	display:block;
	color:#FFFFFF;
	font-size:17px;
	font-family:'Nove_Normal', Verdana, Geneva, sans-serif;
}

#erro_404 #conteudo_erro #mensagem {
	margin:80px auto 0;
}

#erro_404 #conteudo_erro #mensagem p {
	font-size:48px;
	text-align:center;
	margin-bottom:3px;
	padding:40px 130px;
	border:solid #bda676 5px;
}

#erro_404 #conteudo_erro #mensagem hr {
	width:80%;
	height:2px;
	border:none;
	display:block;
	margin:0 auto;
	background:#bda676;
}

#erro_404 #conteudo_erro #bt_retorno {
	width:256px;
	height:60px;
	display:block;
	color:#FFFFFF;
	font-size:14px;
	line-height:60px;
	margin:80px auto 0;
	text-transform:uppercase;
	border:solid #a19187 2px;
	transition:all 0.5s ease;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#erro_404 #conteudo_erro #bt_retorno:hover { background:#a19187; }	


/*********************************************************************************/
/* 16. SELF-BOOKING							                                     */
/*********************************************************************************/
hr.linha_interna {
    border:none;
    height:4px;
    width:142px;
    margin:0 auto;
    display:block;
    background:#dcd3c9;
}

.selfbooking_texto {
	display:block;
	color:#6d4c4c;
	font-size:24px;
	margin:0 0 80px;
	line-height:36px;
	text-align:center;
	font-family:'PT Serif', serif;
}

#selfbooking_page {
	display:block;
	margin:0 auto;
	max-width:1170px;
}

#selfbooking_page .sow-features-feature {
	float:none;
	max-width:270px;
	min-height:450px;
	padding:50px 30px;
	margin:0 15px 20px;
	vertical-align:top;
	display:inline-block;
	border-bottom:solid #b9a893 3px;
	background:url(../images/bg_box_selfing.png) repeat;
}

#selfbooking_page .sow-icon-container {
	border-radius:50%;
	border:solid #d7cfc4 4px;
}

#selfbooking_page .sow-icon-image {
	background-position:center;
	background-repeat:no-repeat;
}

#selfbooking_page .sow-features-feature h5 {
	color:#f37021;
	display:block;
	margin:30px 0;
	font-size:24px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#selfbooking_page .sow-features-feature p {
	color:#413d3b;
	font-size:18px;
	text-align:center;
	font-style:italic;
	font-family:'PT Serif', serif;
}

/* FORM DE BUSCA DAS EMPRESAS */
#busca_selfbooking {
	display:block;
}

#busca_selfbooking #busca_empresa {
	width:80%;
	float:left;
	height:60px;
	display:block;
	color:#45403f;
	font-size:20px;
	padding:0 10px;
	background:#f2f0f0;
	border:solid #c4c0bf 1px;
	font-family:'PT Serif', serif;
}

#busca_selfbooking  #bt_busca_empresa {
	width:20%;
	float:left;
	height:60px;
	display:block;
	color:#FFFFFF;
	cursor:pointer;
	font-size:20px;
	padding:0 20px;
	background:#a0999a;
	border:solid #a0999a 1px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}
#busca_selfbooking  #bt_busca_empresa:hover {
	background:#f0a055;
	border:solid #f0a055 1px;
}

#busca_selfbooking #error {
	padding:10px;
	color:#c95757;
	font-size:16px;
	margin:10px 0 0;
	clear:both;
	display:none;
	text-align:center;
	border-radius:10px;
	background:#fff2f0;
	border:solid #d78787 2px;
	font-family:'PT Serif', serif;
}

#busca_selfbooking .status {
	padding:10px;
	color:#f37021;
	font-size:16px;
	margin:10px 0;
	clear:both;
	display:none;
	text-align:center;
	border-radius:10px;
	background:#fde8db;
	border:solid #f79e68 2px;
	font-family:'PT Serif', serif;
}

#bt_quero_ser {
	display:block;
	color:#FFFFFF;
	line-height:25px;
	background:#f0a055;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#bt_quero_ser:hover { background:#a0999a; border-color:#a0999a; }

#bt_quero_ser span { color:#FFFFFF; }

/*********************************************************************************/
/* 17. BRADESCO ---- CABEÇALHO				                                     */
/*********************************************************************************/
#cabecalho.bradesco {
	background:#cf2031;
}

#cabecalho.bradesco #head_bradesco {
	width:100%;
	display:block;
	margin:0 auto;
	max-width:1200px;
	padding:15px 0 40px;
}

#cabecalho.bradesco #head_bradesco #logo_bradesco {
	float:left;
	width: 203px;
	height: 57px;
	display: block;
}

#cabecalho.bradesco #head_bradesco #prime_bradesco {
	float:right;
	width: 183px;
	height: 38px;
	display: block;
	margin-top: 10px;
}

/*********************************************************************************/
/* 18. BRADESCO ---- CONTEÚDO					                                 */
/*********************************************************************************/
#conteudo.bradesco .box_texto .titulo {
	color:#FFFFFF;
	font-size:36px;
}

#conteudo.bradesco .box_texto .subtitulo {
	font-size:20px;
	font-style: italic;
}

#conteudo.bradesco .bradesco_boxes .panel-first-child {
	margin-bottom:0;
} 

#conteudo.bradesco .bradesco_boxes .box_info_bradesco {
	width:100%;
	height:235px;
	display:block;
	padding:20px 0;
	text-align:center;
	background:#f6f6f6;
	border-bottom:solid #cc092f 3px;
	font-family:'PT Serif', serif;
}

#conteudo.bradesco .bradesco_boxes .box_info_bradesco .nome_cat {
	display:table;
	color:#cc092f;
	font-size:14px;
	margin:0 auto 20px;
	padding-bottom:10px;
	text-transform:uppercase;
	border-bottom:solid #d7cfc4 2px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#conteudo.bradesco .bradesco_boxes .box_info_bradesco .titulo_post {
	display:block;
	color:#4d4e53;
	font-size:24px;
	padding:0 10px;
	margin-bottom:20px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#conteudo.bradesco .bradesco_boxes .panel-grid-cell {
	position: relative;
} 

#conteudo.bradesco .bradesco_boxes .panel-grid-cell .fade_black {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	max-width: 380px;
	max-height: 380px;
	position:absolute;
	background:#1b375f;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
}

#conteudo.bradesco .bradesco_boxes .panel-grid-cell:hover .fade_black { opacity:0.5; }

#conteudo.bradesco .bradesco_boxes .panel-grid-cell .fade_mais {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	max-height:370px;
	position:absolute;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	background:url(../images/bg_mais_bradesco.png) center center no-repeat;
}

#conteudo.bradesco .bradesco_boxes .panel-grid-cell:hover .fade_mais { opacity:1; }


#conteudo.bradesco .bradesco_boxes .box_info_bradesco.ativo {
	background: #cc092f;
}

#conteudo.bradesco .bradesco_boxes .box_info_bradesco.ativo .nome_cat {
	color:#FFFFFF;
	border-bottom: 2px solid #db536e;
}

#conteudo.bradesco .bradesco_boxes .box_info_bradesco.ativo .titulo_post {
	color:#FFFFFF;
}

#conteudo.bradesco #slider_bradesco .sow-slide-nav {
    display: none !important;
}

#conteudo.bradesco #slider_bradesco .sow-slider-pagination {
	text-align: center;
    display: block !important;
}

.texto_bradesco {
	color: #FFFFFF;
}

.formulario_bradesco .enviar:hover { background:#cc092f; }

.formulario_bradesco span.wpcf7-not-valid-tip  { color:#cc092f; }

.formulario_bradesco .wpcf7-form .wpcf7-response-output { background:#cc092f; }

/*********************************************************************************/
/* 19. BRADESCO ---- RODAPÉ					                                     */
/*********************************************************************************/
#rodape.bradesco {
	padding-top: 30px;
	background:#cf2031;
}

#rodape.bradesco #logo_virtuoso {
	margin:0 auto;
}

/*********************************************************************************/
/* 20. BOXES DESTAQUE YOUNG e CRUZEIROS ---- CONTEÚDO					         */
/*********************************************************************************/
#conteudo .interna_boxes .panel-first-child {
	margin-bottom:0;
} 

#conteudo .interna_boxes .box_info_interna {
	width:100%;
	height:235px;
	display:block;
	padding:20px 0;
	text-align:center;
	background:#f6f6f6;
	border-bottom:solid #cd5009 3px;
	font-family:'PT Serif', serif;
}

#conteudo .interna_boxes .box_info_interna .nome_cat {
	display:table;
	color:#cd5009;
	font-size:14px;
	margin:0 auto 20px;
	padding-bottom:10px;
	text-transform:uppercase;
	border-bottom:solid #d7cfc4 2px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#conteudo .interna_boxes .box_info_interna .titulo_post {
	display:block;
	color:#4d4e53;
	font-size:24px;
	padding:0 10px;
	margin-bottom:20px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#conteudo .interna_boxes .panel-grid-cell {
	position: relative;
} 

#conteudo .interna_boxes .panel-grid-cell .fade_black {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	max-width: 380px;
	max-height: 380px;
	position:absolute;
	background:#000000;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
}

#conteudo .interna_boxes .panel-grid-cell:hover .fade_black { opacity:0.5; }

#conteudo .interna_boxes .panel-grid-cell .fade_mais {
	opacity:0;
	width:100%;
	height:100%;
	display:block;
	top:0; left:0;
	max-height:370px;
	position:absolute;
	transition: all 0.5s;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	background:url(../images/bg_mais_bradesco.png) center center no-repeat;
}

#conteudo .interna_boxes .panel-grid-cell:hover .fade_mais { opacity:1; }


#conteudo .interna_boxes .box_info_interna.ativo {
	background: #cd5009;
}

#conteudo .interna_boxes .box_info_interna.ativo .nome_cat {
	color:#FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

#conteudo .interna_boxes .box_info_interna.ativo .titulo_post {
	color:#FFFFFF;
}

#conteudo .interna_boxes.quatro_colunas .panel-grid-cell .fade_black { max-height: 278px; }
#conteudo .interna_boxes.quatro_colunas .panel-grid-cell .fade_mais  { max-height: 278px; }

/*********************************************************************************/
/* 21. PADRÃO DE TABELAS												         */
/*********************************************************************************/
#conteudo .padrao_tabela {
	width: 100%;
	margin:50px auto 0;
	text-align: center;
	border-collapse: collapse; 
}

#conteudo .padrao_tabela th {
	color: #FFFFFF;
	background: #f37021;
	border: solid #c34000 2px;
}


#conteudo .padrao_tabela tr,
#conteudo .padrao_tabela td {
	/*border: solid #b9a893 2px;*/	
	border: solid #b9a893 2px;
}

@media only screen and (max-width: 760px), 
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block;
		text-align: left;
	}

	#conteudo .padrao_tabela th {
		padding: 10px;
		color: #FFFFFF;
		background: #b9a893;
		border: solid #796853 2px;
	}

	#conteudo .padrao_tabela th:first-child { border-top: solid #796853 4px; }
	#conteudo .padrao_tabela th:last-child  { border-bottom: solid #796853 4px; }

	#conteudo .padrao_tabela td {
		padding: 10px;
	}
	
}

/*********************************************************************************/
/* 22. LIVELO - MODELO DE PÁGINA									             */
/*********************************************************************************/
#pagina_livelo { padding-bottom: 100px; }

.box_livelo .texto_livelo .titulo_box {
	font-size: 25px;
	text-align: left;
	font-family:'PT Serif', serif;
}

.box_livelo .texto_livelo { color: #6d4c4c; }

.box_livelo .texto_livelo p { margin-bottom: 20px; }

.box_livelo .texto_livelo strong { font-weight: 800; }

.box_livelo .widget_sow-image { margin-bottom: 20px !important; }

/*********************************************************************************/
/* 23. INFINITE						                                             */
/*********************************************************************************/
#menu_infinite {
	width: 100%; 
	height: 30px;
	display:block; 
	background:#ed7029;
}

#menu_infinite #nome {
	height: 30px;
	float: left;
	display: block;
	color:#FFFFFF;
	font-size: 15px;
	padding: 7px 50px;
	text-decoration: none;
	font-family:'PT Serif', serif;
}

#menu_infinite #logout_infinite {
	height: 30px;
	float: right;
	display: block;
	color:#FFFFFF;
	font-size: 15px;
	padding: 7px 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-family:'PT Serif', serif;
}

#menu_infinite #logout_infinite:hover {
	background:#cd5009;
}

#box_infinite {
    top:0;
    left:0;
    right:0;
	bottom:0;
	position:fixed;
	z-index: 999999;
	text-align:center;
}

#box_infinite .wrapper {
    top: 50%;
    left:0;
    right:0;
	display:block;
	z-index: 999999;
	text-align:center;
    position: absolute;
    transform: translateY(-50%);
}

#infinite_login {
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	padding: 20px 50px;
	text-align: center;
	background:#ed7029;
	display: inline-block;
	vertical-align: middle;
	font-family:'PT Serif', serif;
}

#infinite_login #loginform label {
	display: none;
}

#infinite_login #loginform .input {
	width: 100%;
	display: block;
	margin: 10px 0;
	padding: 5px 10px;
}

#infinite_login #loginform #wp-submit {
	width: 100px;
	border: none;
	padding: 10px;
	margin: 10px 0;
	cursor: pointer;
	color: #FFFFFF;
	background: #6C6C6C;
	text-transform: uppercase;
}

#infinite_login #loginform #wp-submit:hover {
	background: #9d2000;
}

#infinite_login a {
	color: #FFFFFF;
	text-decoration: none;
}

#infinite_login a:hover {
	color: #9d2000;
}

#mask_infinite_login {
	width: 100%;
	height: 100%;
	opacity: 0.8;
	display:block;
	top:0; left:0;
	position: fixed;
	z-index: 999998;
	background: #000000;
}