/*********************************************************************************/
/* 00. PADRÕES DO SITE						                                     */
/*********************************************************************************/
.box_chamada .titulo_chamada { line-height:50px; padding:0 10px; margin-bottom:20px; }
.box_chamada .sub_chamada { font-size:24px; line-height:30px; padding:0 10px; }
#box_newsletter .box_chamada .sub_chamada { line-height:30px; padding:0 10px; }

/*********************************************************************************/
/* 00. MENU MOBILE						                                         */
/*********************************************************************************/
#sidebar #sub-menu ul {
	width:100%;
	padding:10px 0;
}

#sidebar #sub-menu ul li {
	width:100%;
	height:100%;
	display:block;
	margin:0 0 10px;
	text-align:left;
	vertical-align:top;
}

#sidebar #sub-menu ul li:hover { background:none; }

#sidebar #sub-menu ul li:last-child { margin-bottom:0; }

#sidebar #sub-menu ul li a { font-size:60%; line-height:normal; }

#sidebar #sub-menu ul li a br { display:none; }


/*********************************************************************************/
/* 2. BARRA LATERAL							                                     */
/*********************************************************************************/
#barra_lateral { display:none; }

/*********************************************************************************/
/* 3. HOME - BANNERS						                                     */
/*********************************************************************************/
#banner_home { margin-bottom:80px; }

#banner_home .item .titulo { font-size:310%; }

/*********************************************************************************/
/* 4. HOME - DESTAQUES						                                     */
/*********************************************************************************/
#destaques_home { margin:50px auto 100px; }

#destaques_home .box {
	width:100%;
	float:none;
	height:auto;
	display:block;
}

#destaques_home .box .caixa_texto {	width:70%; left:15%; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
#destaques_home .box .caixa_texto { left:25%; }
}


/*********************************************************************************/
/* 5. HOME - INSTAGRAM						                                     */
/*********************************************************************************/
#feed_instagram { max-height:840px; margin:55px auto 100px; }

#box_newsletter .wpcf7-form .wpcf7-response-output { width:90%; }

/*********************************************************************************/
/* 6. HOME - NESWLETTER							                                 */
/*********************************************************************************/
#box_newsletter .wpcf7-form .campo { width:90%; margin-right:0; }


/*********************************************************************************/
/* 7. MENU PERSONALIZADOS							                             */
/*********************************************************************************/
.menu_personalizado ul li { display:block; margin-bottom:20px; }

/*********************************************************************************/
/* 8. FORMULÁRIOS								                                 */
/*********************************************************************************/
.formulario .campo,
.formulario #info_news,
.formulario .campo_texto,
.formulario .inserir_cv span { font-size:80%; }

.wpcf7-form-control-wrap.UF { width:45%; }
.wpcf7-form-control-wrap.Cidade { width:45%; margin-right:10%; }


#box_resultados .box_post .fade_black { max-height:320px; }

/*********************************************************************************/
/* 9. INTERNA DE DESTINOS e HOTEIS									             */
/*********************************************************************************/
#infos_destino #box_especial li { width:100%; }

/*********************************************************************************/
/* 10. CELEBRATIONS													             */
/*********************************************************************************/
.texto_celebration { padding:10px !important; }


#selfbooking_page .sow-features-feature {
	display:block;
	margin:0 auto 20px;
}
