/*********************************************************************************/
/* 7. PRIMETOUR - MODELO DE PÁGINA							                     */
/*********************************************************************************/
.banner_principal {
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
	max-width:1200px;
	max-height:710px;
	overflow:hidden;
	border-top:solid #b9a893 4px;
}
.banner_principal img { width:100%; height:auto; }

#box_primetour {
	width:100%;
	height:auto;
	clear: both;
	display:block;
}

/*********************************************************************************/
/* BOX DE IMAGENS / 3 COLUNAS								                     */
/*********************************************************************************/
.box_imagem .so-widget-sow-image { position:relative; }

.box_imagem .so-widget-sow-image h3 {
	left:10%;
	width:80%;
	bottom:20px;
	padding:10px;
	color:#FFFFFF;
	font-size:90%;
	position:absolute;
	text-align:center;
	text-transform:uppercase;
	border:solid #f0a055 2px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.box_imagem.imagem_celebration .so-widget-sow-image h3 {
	left:30%;
	width:40%;
	border:solid #b9a893 2px;
}

.abaixo .so-widget-sow-image h3 {
	width:100%;
	color:#6d4c4c;
	margin:0 auto;
	margin-top:5px;
	bottom:0; left:0;
	position:relative;
}

.abaixo .so-widget-sow-image { padding-bottom:3px; border-bottom:solid #f4cca6 2px; }

#conteudo_geral #conteudo .abaixo .panel-grid-cell .so-panel { margin-bottom:30px; }

/*********************************************************************************/
/* TEXTOS													                     */
/*********************************************************************************/
/* DEFINIÇÕES DE TÍTULOS PARA AS PÁGINAS */
.box_texto .titulo {
	color:#f37021;
	display:block;
	font-size:36px;
	text-align:center;
	line-height:normal;
	margin-bottom:20px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.box_texto .topo_celebration .titulo {
	font-size:72px;
	line-height:30px;
	text-transform:none;
	font-family:'Mano_Regular', Verdana, Geneva, sans-serif;
}

.box_texto .subtitulo {
	color:#897f7f;
	display:block;
	font-size:24px;
	text-align:center;
	line-height:normal;
	margin-bottom:20px;
	font-family:'PT Serif', serif;
}

.box_texto .topo_celebration .subtitulo {
	color:#6d4c4c;
	font-size:36px;
	line-height:normal;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}


.box_texto .subtitulo em { font-style:italic; }

#box_titulo .box_texto p { margin-bottom:0; }

.box_texto .topo_celebration p { max-width:770px; margin:0 auto; }

.box_texto .topo_celebration hr { display:block; margin:0 auto; width:142px; height:4px; background:#dcd3c9; border:none; }

.box_texto p {
	display:block;
	margin-bottom:40px;
}

.box_texto p:last-child { margin-bottom:0; }

.box_texto a {
	color:#f37021;
	text-decoration:none;
}

.box_texto a:hover { color:#000000; }

/* TEXTOS PERSONALIZADOS */
.texto_prime {
	color:#6d4c4c;
	font-size:24px;
	line-height:34px;
}

.texto_prime_wide {
	color:#6d4c4c;
	font-size:30px;
	line-height:40px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.texto_corporativo {
	color:#6d4c4c;
	font-size:24px;
	line-height:36px;
}

.titulo_branco {
	color:#FFFFFF;
	font-size:36px;
	line-height:48px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.wide_branco_24 {
	color:#FFFFFF;
	font-size:24px;
	line-height:40px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.titulo_contato {
	color:#f37021;
	font-size:48px;
	line-height:60px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.titulo_bradesco {
	color:#cc092f;
	font-size:36px;
	line-height:48px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

/*********************************************************************************/
/* TÍTULOS													                     */
/*********************************************************************************/
.titulo_box {
	color:#f37021;
	font-size:30px;
	text-align:center;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#slides_parceiros .titulo_box { color:#FFFFFF; }

/*********************************************************************************/
/* PADRÃO INTERNAS DESTINOS E HOTÉIS					                         */
/*********************************************************************************/
.padrao_dia {
	display:block;
	color:#6d4c4c;
	font-size:24px;
	padding-left:15px;
	border-left:solid #f37021 2px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

/*********************************************************************************/
/* MENU PERSONALIZADOS									                         */
/*********************************************************************************/
.menu_personalizado {
	width:100%;
	display:block;
	/*max-width:1200px;*/
	text-align:center;
}

.menu_personalizado ul li {
	background:#e9e9e9;
	vertical-align:top;
	display:inline-block;
	transition:all 0.5s ease;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
}

.menu_personalizado ul li a {
	color:#897f7f;
	display:block;
	font-size:14px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

.menu_personalizado ul li.current_page_item { background:#f0a055; }
.menu_personalizado ul li.current_page_item a { color:#FFFFFF; }

/* MENU CONTATO */
.menu_personalizado.contato ul li { width:230px; height:40px; line-height:40px; }

/* MENU BLOG */
.menu_personalizado.blog ul li:first-child { max-width:124px; }
.menu_personalizado.blog ul li { max-width:206px; height:30px; line-height:30px; margin-bottom:20px; }
.menu_personalizado.blog ul li.current-menu-item { background:#f0a055; }
.menu_personalizado.blog ul li.current-menu-item a { color:#FFFFFF; }

/* MENU CELEBRATIONS */
.menu_personalizado.celebration ul li {
	width:190px;
	height:60px;
	background:none;
	line-height:60px;
	margin-bottom:10px;
	border:solid #a0999a 2px;
}

.menu_personalizado.celebration ul li:hover { background:#a0999a; color:#FFFFFF; }
.menu_personalizado.celebration ul li:hover a { color:#FFFFFF; }

.menu_personalizado.celebration ul li.current_page_item { background:#f0a055; border:solid #f0a055 2px; }

.menu_personalizado.celebration ul li a {
	width:190px;
	height:60px;
	display:table-cell;
	line-height:normal;
	vertical-align:middle;
}

/*********************************************************************************/
/* BOTÕES CONTATO													             */
/*********************************************************************************/
#conteudo_geral #conteudo .box_texto #bt_contato {
	color:#FFFFFF !important;
	text-transform:uppercase;
	transition:all 0.5s ease;
    -o-transition:all 0.5s eass;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#conteudo_geral #conteudo .box_texto .bt_especiais {
	display:table;
	margin:0 auto;
}

#conteudo_geral #conteudo .box_texto .bt_especiais #bt_contato { border:none; }

#conteudo_geral #conteudo .box_texto .texto_celebration #bt_contato {
	padding:15px;
	display:table;
	color:#897f7f !important;
	border:solid #b9a893 2px;
}

#conteudo_geral #conteudo .box_texto .texto_celebration .texto_sugestoes {
	font-size:18px;
	color:#45403f;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#conteudo_geral #conteudo .box_texto .texto_celebration .texto_sugestoes li {
	display:block;
	margin-bottom:10px;
}

#conteudo_geral #conteudo .box_texto .texto_celebration .texto_sugestoes li:before {
    content:"• ";
    color:#f0a055;
}

#conteudo_geral #conteudo .box_texto .texto_celebration .texto_sugestoes li a { color:#45403f; }

#conteudo_geral #conteudo .box_texto .texto_celebration .texto_sugestoes li a:hover { color:#f0a055; }

#conteudo_geral #conteudo .box_texto #bt_contato.single_post {
    display:table;
    margin:0 auto;
    padding:5px 20px;
    background:#a0999a;
}
#conteudo_geral #conteudo .box_texto #bt_contato.single_post:hover { background:#cd5009; }

/* INTERNA DA PRIMETOUR */
#interna_primetour #pgc-7-2-0 { float: left; }
#interna_primetour #pgc-7-2-1 { float: right; margin-bottom: 50px; }

/* INTERNA DA PRIMETOUR */
#box_colunas div.panel-grid-cell {
	float: left;
}

#box_colunas div.panel-grid-cell:last-child:after {
	clear: both;
}