/*********************************************************************************/
/* RESET PADRÃO                                                                  */
/*********************************************************************************/
* { margin:0; padding:0; }

a { text-decoration:none; }

.clear { clear:both; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	list-style-type:none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    image-rendering: auto;
}

/*********************************************************************************/
/* FONTES				                                                         */
/*********************************************************************************/
@font-face {
    font-family: 'Mano_Bold';
    src: url('../fonts/wcmanonegraboldbta-webfont.eot');
    src: url('../fonts/wcmanonegraboldbta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wcmanonegraboldbta-webfont.woff2') format('woff2'),
         url('../fonts/wcmanonegraboldbta-webfont.woff') format('woff'),
         url('../fonts/wcmanonegraboldbta-webfont.ttf') format('truetype'),
         url('../fonts/wcmanonegraboldbta-webfont.svg#wc_mano_negra_btabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mano_Regular';
    src: url('../fonts/wcmanonegrabta-webfont.eot');
    src: url('../fonts/wcmanonegrabta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wcmanonegrabta-webfont.woff2') format('woff2'),
         url('../fonts/wcmanonegrabta-webfont.woff') format('woff'),
         url('../fonts/wcmanonegrabta-webfont.ttf') format('truetype'),
         url('../fonts/wcmanonegrabta-webfont.svg#wc_mano_negra_btaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nove_Medium';
    src: url('../fonts/novecentowide-medium-webfont.eot');
    src: url('../fonts/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-medium-webfont.woff2') format('woff2'),
         url('../fonts/novecentowide-medium-webfont.woff') format('woff'),
         url('../fonts/novecentowide-medium-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide-medium-webfont.svg#novecento_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nove_Normal';
    src: url('../fonts/novecentowide-normal-webfont.eot');
    src: url('../fonts/novecentowide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novecentowide-normal-webfont.woff2') format('woff2'),
         url('../fonts/novecentowide-normal-webfont.woff') format('woff'),
         url('../fonts/novecentowide-normal-webfont.ttf') format('truetype'),
         url('../fonts/novecentowide-normal-webfont.svg#novecento_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*********************************************************************************/
/* DEFINIÇÕES DE LAYOUT                                                          */
/*********************************************************************************/
.geral {
	width:100%;
	min-height:1000px;
	margin:0 auto;
	max-width:1700px;
}

.box_chamada {
	display:block;
	margin:0 auto;
	line-height:60px;
	text-align:center;
}

.box_chamada .titulo_chamada {
	color:#f37021;
	font-size:60px;
	font-family:'Mano_Regular', Verdana, Geneva, sans-serif;
}

.box_chamada .sub_chamada {
	color:#6d4c4c;
	font-size:30px;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

/*********************************************************************************/
/* BREADCRUMB - PÁGINA INTERNAS	      			                                 */
/*********************************************************************************/
#fx_breadcrumb {
	width:100%;
	height:auto;
	display:block;
	min-height:40px;
	background:url(../images/bg_breadcrumb.png) repeat;
}

#breadcrumb {
	width:100%;
	margin:0 auto;
	display:block;
	color:#897f7f;
	padding:10px 0;
	font-size:14px;
	max-width:1200px;
	font-family:'PT Serif', serif;
}

#breadcrumb a { color:#897f7f; }
#breadcrumb a:hover { color:#f37021; }

#breadcrumb .ativo { color:#b9a893; }

/*********************************************************************************/
/* PADRÃO DE CONTEÚDO - PÁGINA INTERNAS	                                         */
/*********************************************************************************/
#box_titulo { margin:0 !important; }

#conteudo_geral {
	width:100%;
	height:auto;
	display:block;
}

#conteudo_geral.mapa { background:url(../images/bg_mapa.jpg) top center no-repeat; }
#conteudo_geral.mandala { background:url(../images/bg_mandala.jpg) center 50px no-repeat; }
#conteudo_geral.bradesco { background:url(../images/bg_mapa_bradesco.jpg) center 0 no-repeat; overflow: hidden; }

#conteudo_geral #conteudo {
	width:100%;
	height:auto;
	color:#45403f;
	display:block;
	/*font-size:18px;
	line-height:28px;
	margin:135px auto 0;*/
	font-size:15px;
	line-height:25px;
	margin:50px auto 0;
	font-family:'PT Serif', serif;
}

#conteudo_geral #conteudo .box_texto {
	display:block;
	margin:0 auto !important;
	max-width:1200px;
}

#conteudo_geral #conteudo .box_texto.linha {
	border-bottom: solid 2px #d9d2c8; 
}

#conteudo_geral #conteudo .box_texto.texto_especiais { max-width:770px; text-align:justify; margin-bottom:50px; }
#conteudo_geral #conteudo .box_texto.texto_especiais iframe { display: block; margin:0 auto; max-width: 100%; height: auto; min-height: 280px; }

#conteudo_geral #conteudo .box_texto.listas { 
	color:#FFFFFF;
	font-size:18px;
	max-width:900px;
	line-height:30px;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#conteudo_geral #conteudo .box_texto.listas li {
	display:block;
	margin-bottom:10px;
}

#conteudo_geral #conteudo .box_texto.listas li:before { content: "•"; color:#f37021; padding-right:7px; }


#conteudo_blog_interna img {
	max-width: 100%;
	height: auto;
}