/*********************************************************************************/
/* 00. MENU MOBILE						                                         */
/*********************************************************************************/
#skel-layers-wrapper { padding-top:60px; }

#skel-layers-visibleWrapper {
    top:0;
    width:100%;
    position:absolute !important;
}

#faixa_mobile {
	padding:5px 0;
	min-height:60px;
	background:#FFFFFF;
    position:absolute !important;
	border-bottom:solid #ed7029 2px;
	box-shadow:inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
}

#faixa_mobile #bt_mobile:before {
	width:50px;
    height:30px;
	cursor:pointer;
    color:#FFFFFF;
    display: block;
    font-size:15px;
	content:'\f0c9';
    line-height:30px;
    text-align:center;
    position:absolute;
    font-style:normal;
    font-weight:normal;
	top:10px; left:10px;
    background:#cd5009;
    border-radius:0.35em;
    text-decoration:none;
    font-family:FontAwesome;
    -moz-osx-font-smoothing:grayscale;
}

#faixa_mobile #logo_mobile {
	width:147px;
	height:30px;
	display:block;
	margin:5px auto 0;
	background:url(../images/logo_prime_preto2.png) no-repeat;
}

/* MENU MOBILE */
#menu_mobile {
	background:#FFFFFF;
	/* position: relative !important; */
	height:auto !important;
	border-bottom:solid #ed7029 2px;
	box-shadow:inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
}


/* SIDEBAR - CONTEÚDO DO MENU MOBILE */
#sidebar {
	display:block;
	font-size:13px;
	padding:70px 10px 0;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#sidebar ul.menu_superior {
	width:100%;
	display:block;
	padding:15px 0 40px;
}

#sidebar ul.menu_superior li {
	display:block;
	margin-bottom:25px;
}

#sidebar ul.menu_superior li:last-child { margin-bottom:0; }

#sidebar ul.menu_superior li a {
	color:#593d3d;
	display:inline-block;
}

#sidebar ul.menu_superior li.ativo a,
#sidebar ul.menu_superior li a:hover { color:#f37021; }

/* SUB-MENU */
#sidebar #sub-menu {
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
	font-size:20px;
	background:#FFFFFF;
	text-transform:uppercase;
	font-family:'Nove_Medium', Verdana, Geneva, sans-serif;
}

#sidebar #sub-menu ul {
	width:auto;
	display:none;
	margin:0 auto;
	max-width:1200px;
	text-align:center;
	border-top:solid #f37021 2px;
}

#sidebar #sub-menu ul li {
	width:15%;
	height:195px;
	text-align:center;
	margin-right:30px;
	display:table-cell;
	vertical-align:middle;
}

#sidebar #sub-menu ul li:hover {
	background:url(../images/bg_submenu.png) center center no-repeat;
}

#sidebar #sub-menu ul li:last-child { margin-right:0; }

/*#sidebar #sub-menu ul#sub-destinos li .escolha {
	color:#b9a893;
	display:block;
	font-size:65%;
	font-style:italic;
	text-align:center;
	margin-bottom:5px;
	font-family:'PT Serif', serif;
}
*/
#sidebar #sub-menu ul#sub-destinos li .escolha { display:none; }


#sidebar #sub-menu ul li a {
	color:#593d3d;
	font-size:72%;
	line-height:normal;
}

#sidebar #sub-menu ul li a:hover { 
	color:#f37021;
}

/*********************************************************************************/
/* 00. CONFIGURAÇÕES PARA TABLETS E MOBILE						                 */
/*********************************************************************************/
#breadcrumb { padding:10px; }
	
/*********************************************************************************/
/* 1. CABEÇALHO						                                             */
/*********************************************************************************/
#cabecalho { display:none; }

/*********************************************************************************/
/* 2. BARRA LATERAL							                                     */
/*********************************************************************************/
#sidebar #barra_lateral { display:none; }

/*********************************************************************************/
/* 3. HOME - BANNERS						                                     */
/*********************************************************************************/
#banner_home .item { min-height:500px; }

#banner_home .item .box { line-height:100px; }

#banner_home .item img { min-height:500px; }

#banner_home .item img.desktop { display:none; }
#banner_home .item img.mobile { display:block; }

#banner_home .item .titulo { font-size:76px; }

#banner_home .item .subtitulo { font-size:17px; padding:0 10px; }

#banner_home .item .bt_saiba {
    width:150px;
    height:50px;
    line-height:50px;
    margin:30px auto 0;
}

/*********************************************************************************/
/* 4. HOME - DESTAQUES						                                     */
/*********************************************************************************/
#destaques_home { border:none; }

#destaques_home .box {
	width:80%;
	float:none;
	margin:0 auto;
	max-height:380px;
}

#destaques_home .box img.mobile { display:block; }
#destaques_home .box img.grande { display:none; }

#destaques_home .box .caixa_texto {
	width:40%;
	margin:0 auto;
	left:32%; bottom:auto; top:30%;
}

#destaques_home .box .caixa_texto .texto p { font-size:90%; }

/*********************************************************************************/
/* 5. HOME - NESWLETTER							                                 */
/*********************************************************************************/
#box_newsletter { padding:100px 0; }

/* FORMULÁRIO DE NEWSLETTER */
#box_newsletter .wpcf7-form .wpcf7-form-control-wrap { display:block; margin-bottom:20px; }

/*********************************************************************************/
/* 6. PADRÕES DE TEXTOS E COLUNAS NO MOBILE									     */
/*********************************************************************************/
#conteudo_geral #conteudo .box_texto { padding:0 20px !important; }

.box_texto p br { display:none; }

/*********************************************************************************/
/* 7. APRESENTAÇÃO DAS CATEGORIAS						                         */
/*********************************************************************************/
#apresentacao_destinos .destino_box_pq { float:none; margin:0 auto; }

/*********************************************************************************/
/* 8. BUSCA DOS TERMOS									                         */
/*********************************************************************************/
#box_busca ul li { display:block; margin:0 20px 20px; }

#box_busca select { width:100%; }

/*********************************************************************************/
/* 9. INTERNA DE DESTINOS e HOTEIS									             */
/*********************************************************************************/
#sidebar_destino,
#infos_destino {
	float:none;
	max-width:100%;
}

#infos_destino .quero_ir { display:block; }

/*********************************************************************************/
/* 10. CELEBRATION													             */
/*********************************************************************************/
.box_texto .topo_celebration .titulo { font-size:350%; }

/*********************************************************************************/
/* 99. RODAPÉ									                                 */
/*********************************************************************************/
#rodape #menu { display:none; }


#box_resultados .box_post .fade_black { max-height:370px; }

/*********************************************************************************/
/* 00. ERRO 404							                                         */
/*********************************************************************************/
#erro_404 #logo {display:none; }
#erro_404 #conteudo_erro { margin:100px auto 0; }
#erro_404 #conteudo_erro #mensagem p { padding:0; font-size:38px; }

/*********************************************************************************/
/* 00. BRADESCO							                                         */
/*********************************************************************************/
#faixa_mobile_bradesco {
	padding:5px 0;
	min-height:60px;
	background:#cf2031;
    position:absolute !important;
	box-shadow:inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
}

#faixa_mobile_bradesco #logo_mobile {
	width:123px;
	height:25px;
	float: right;
	display:block;
	margin:7px 10px 0 0;
	background:url(../images/logo_prime_bradesco.png) no-repeat;
}

#faixa_mobile_bradesco #logo_bradesco {
	width:107px;
	height:30px;
	float: left;
	display:block;
	margin:5px 0 0 10px;
	background:url(../images/bradesco_mobile.png) no-repeat;
}