/*********************************************************************************/
/* 00. LOGIN DO ADMINISTRADOR							                         */
/*********************************************************************************/
body.login { background:url(../images/bg_mandala.jpg) #FFF center center no-repeat; }

body.login h1 {
    width:216px;
    height:44px;
    margin:0 auto;
    background:url(../images/logo_prime_preto.png) no-repeat scroll center center;
}

body.login h1 a { display:none; }

body.login #login #loginform { background:none; box-shadow:none; }

body.login #login #loginform input.button-primary,
body.login #login #loginform button.button-primary,
body.login #login #loginform a.button-primary {
	border:none;
	color:#FFFFFF;
	border-radius:0;
	box-shadow:none;
	text-shadow:none;
	background:#a0999a;
	text-transform:uppercase;
	transition:all 0.5s ease;
    -o-transition:all 0.5s eass;
	background-repeat:no-repeat;
    -moz-transition:all 0.5s eass;
	-webkit-transition:all 0.5s eas;
}

body.login #login #loginform input.button-primary:hover,
body.login #login #loginform button.button-primary:hover,
body.login #login #loginform a.button-primary:hover { background:#e76e2a; }

/*********************************************************************************/
/* 01. CONFIGURAÇÃO DA DASHBOARD						                         */
/*********************************************************************************/
#dashboard-widgets .postbox-container #principais {
	width:100%;
	float:left;
	display:block;
	padding-top:10px;
}

#dashboard-widgets .postbox-container #principais h2.hndle { margin-bottom:10px; padding-left:0; font-weight:600; color:#00a0d2; }

#dashboard-widgets .postbox-container #wp-version-message { display:none; }

#dashboard-widgets .post-count.destino-count a::before, 
#dashboard-widgets .post-count.destino-count span::before { content:"\f527"; }

#dashboard-widgets .post-count.hotel-count a::before, 
#dashboard-widgets .post-count.hotel-count span::before { content:"\f541"; }

#dashboard-widgets .post-count.mes-count a::before, 
#dashboard-widgets .post-count.mes-count span::before { content:"\f508"; }

#dashboard-widgets .post-count.feriado-count a::before, 
#dashboard-widgets .post-count.feriado-count span::before { content:"\f157"; } 

#dashboard-widgets .post-count.destinos-count a::before, 
#dashboard-widgets .post-count.destinos-count span::before { content:"\f319"; } 

#dashboard-widgets .post-count.estilo-count a::before, 
#dashboard-widgets .post-count.estilo-count span::before { content:"\f130"; } 

#dashboard-widgets .post-count.empresa-count { display:none; }

/*********************************************************************************/
/* 02. MENSAGENS DE BOAS-VINDAS							                         */
/*********************************************************************************/
#dashboard-widgets .postbox-container #boas_vindas {
	width:100%;
	display:block;
	padding-top:10px;
}

#dashboard-widgets .postbox-container #boas_vindas h2.hndle { margin-bottom:10px; padding-left:0; font-weight:600; color:#00a0d2; }

/*********************************************************************************/
/* 03. ERRO PÁGINA INTERNA DO POST						                         */
/*********************************************************************************/
.mce-notification.mce-has-close { display: none; }