/*
	Theme Name: PRIMETOUR Viagens & Experiências
	Theme URI: http://www.prime.com.br
	Description: Desenvolvido para PRIMETOUR Viagens & Experiências
	Version: 2.0
	Author: Baked | Many Makers
*/
@import url("css/reset.css");
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);

.formulario .wpcf7-form .wpcf7-response-output{
  margin-top: 0!important;
}

#cabecalho #menu ul.menu_superior li {
    position: relative;
}

#cabecalho #menu ul.menu_superior li:hover .sub-menu{
	display: block;
}

#cabecalho #menu ul.menu_superior .sub-menu {
    position: absolute;
    background: #fff;
	width: 110px;
	display: none;
	top: 99%;
	left: 50%;
	transform: translateX(-50%);
}

#cabecalho #menu ul.menu_superior .sub-menu li{
	width: 100%;
}

#cabecalho #menu ul.menu_superior .sub-menu a {
    padding: 10px 15px;
    color: #ed7029!important;
    text-align: center;
    display: block;
}

@media screen and (max-width: 1170px) {
	div#sidebar #sub-menu ul {
		width: 100%!important;
		padding: 80px 0 10px;
		position: absolute;
		z-index: 9999;
		top: 58px;
		background: #FFF;
		height: 100vh;
	}
	
	div#sidebar #sub-menu ul li {
		width: 100%;
		height: auto;
		text-align: left;
		display: block;
		vertical-align: middle;
		padding: 5px 0px;
	}
	
	#sidebar #sub-menu ul li a br {
		display: none;
	}
	
	div#sidebar #sub-menu ul li.menu-return {
		position: absolute;
		top: 25px;
		left: 0;
		color: #ed7029;
	}
	
	div#sidebar #sub-menu ul li.menu-return i {
		width: 36px;
		height: 36px;
		border: solid 2px #ed7029;
		border-radius: 50%;
		text-align: center;
		line-height: 1.5;
		margin-right: 6px;
	}
	
	div#sidebar #sub-menu ul li.menu-return span {
		font-size: 16px;
		font-weight: 300;
	}
}